export GITHUB_WORKSPACE=`pwd`
export GITHUB_REPOSITORY='workflow-actions/conventional-changelog-action'
export GITHUB_REPOSITORY_OWNER=workflow-actions
export GITHUB_REF='refs/heads/main'
export GITHUB_SHA=6b3b53d
export GITHUB_EVENT_NAME='workflow_dispatch'
export GITHUB_TOKEN=`uuid`
